 <table class="table table-striped">
        <thead>
            <tr>
                <th><%= sort_link(@search, :id, "Numer zamówienia") %></th>
                <th class="text-center"><%= sort_link(@search, :created_at, "Data złozenia zamówienia") %></th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
                <tr>
                    <td><%= order.id %></td>
                    <td align="center"><%=time_zone order.created_at %></td>
                    <td></td>
                    <td>Podgląd</td>
                </tr>
            <% end %>
        </tbody>
    </table>