 <% if user_signed_in? and current_user.admin?%>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administracja
    </a>
    <ul class="dropdown-menu">
     <li><%= link_to "Produkty", admin_products_path %></li>
     <li><%= link_to "Kategorie", admin_categories_path %></li>
     <li><%= link_to "Uzytkownicy", admin_users_path %></li>
    </ul>
   </li>
 <% end %>